{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block content %}

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Record</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          <li><i class="fa fa-laptop"></i>Record</li>
        </ol>
      </div>
    </div>
    
    <!--overview start-->
    {% include 'overview.html' %}

    <!-- statics end -->



    <!-- Tables start-->
      <div class="row">
      <div class="col-lg-7">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h2><i class="fa fa-map-marker"></i><strong>Record: change a value and press enter to submit</strong></h2>
            <div class="panel-actions">
              <a class="btn-setting" onclick="getInfo(false, false, true)"><i class="fa fa-rotate-right"></i></a>
            </div>
          </div>
        <div class="panel-body">

          <table class="table" id='record-table'>
            <thead>
              <tr>
                <th></th>
		<th>min</th>
                {% for c in channels %}
                <th>{{c}}</th>
                {% endfor %}
		<th>max</th>
              </tr>
            </thead>
            <tbody class="table-editable">
              {% for s in spectrometers %}
	      <tr>
		<td>
		  <i id='{{s}}-status-icon' style="color: green;" class="fa fa-leaf"></i>
		  {{s}}</td>
		<td><span id="{{s}}-min_time"></span></td>
		{% for c in channels %}
		<td><span id="{{s}}-current_time/{{c}}"></span></td>
                {% endfor %}
		<td><span id="{{s}}-max_time"></span></td>
	      </tr>
	      {% endfor %}
            </tbody>
          </table>
          <p id='record-msg'></p>
            </div>

            <div class="panel-footer">
                <h2><i class="fa fa-info"  id='record-table-statusicon'></i><span  id='record-table-statusinfo'></span></h2>
              </div>

        </div>
      </div>


      <div class="col-lg-5">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h2><i class="fa fa-clock-o"></i><strong>Control:</strong></h2>
          </div>
        <div class="panel-body">
            <form class="form-horizontal " action="#">

	      {% include 'control.html' %}
	      
                <!--input fields end-->
                <br>
                <div class="col-lg-10">
                  <button type="button" id="runButton" class="btn btn-success">Run</button>
		  <button type="button" id="stopButton" class="btn btn-danger" disabled>Stop</button>
		  <button type="button" id="pauseButton" class="btn btn-warning" disabled>Pause</button>
		  <button type="button" id="darkButton" class="btn btn-dark">Dark</button>
		  <button type="button" id="autoButton" class="btn btn-info">Auto</button>
                </div>


            </form>
            </div>
        </div>
      </div>


      
    </div>

  </section>
</section>
<!--main content end-->



{% endblock %}

{% block scripts %}

<script type="text/javascript">

/* Read to configuration jinja parameters */
var piccoloTime = '{{ clock }}';
var status = "{{ status }}"
var state = "{{ state }}"

</script>

<script src="{{ url_for('static', filename='js/piccolo3-overview.js') }}"></script>
<script src="{{ url_for('static', filename='js/piccolo2-record.js') }}"></script>

{% endblock %}
