
body {

    color: #797979;
    background: #eeeeee;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px !important;

}

h1,h2,h3,h4,h5{

    font-weight: 301;

}

label{

    font-weight: 301;

}

ul li {

    list-style: none;

}



a, a:hover, a:focus {

    text-decoration: none;
    outline: none;
    outline: 0;

}

input:focus, textarea:focus { outline: none; }

table tr th { color: #688a7e;}

*:focus {outline: none;}

::selection {
    background: #688a7e;
    color: #fff;

}

::-moz-selection {

    background: #688a7e;
    color: #fff;

}



#container {

    width: 100%;
    height: 100%;

}




.lite{

    color: indianred !important;

}




/*sidebar*/

#sidebar {

    width: 180px;
    height: 100%;
    position: fixed;
    background: #394a59;

}



.nav-collapse.collapse {

    display: inline;

}



ul.sidebar-menu , ul.sidebar-menu li ul.sub{

    margin: -2px 0 0;
    padding: 0;

}



ul.sidebar-menu {

    margin-top: 60px;

}




ul.sidebar-menu li{

    line-height: 20px !important;

}




ul.sidebar-menu li a span{

    display: inline-block;

}



ul.sidebar-menu li a{

    color: #d0d8df;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 16px;
    font-weight: 301;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*border-right: 1px solid #D7D7D7;*/
    /*border-bottom: 2px solid darkred;*/

}


ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #2e3b46;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;

}



ul.sidebar-menu li a i {

    font-size: 18px;
    padding-right: 6px;
}



ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {

    color: #fff;

}



ul.sidebar-menu li.active a i {

    color: #fff;

}

/*main content*/

#main-content {

    margin-left: 180px;

}



.header, .footer {

    min-height: 60px;

    padding: 0 15px;

}

.header {

    position: fixed;

    left: 0;

    right: 0;

    z-index: 1002;

}



.dark-bg {

    background: rgba(54,66,74,1);
    border-bottom: 1px solid #f1f2f7;

}

.panel-content{

    padding: 10px;

}

.wrapper {

    display: inline-block;

    margin-top: 60px;

    padding: 15px;

    width: 100%;

}



a.logo {

    font-size: 22px;
    font-weight: 301;
    color: #00a0df;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;

}



a.logo:hover, a.logo:focus {

    text-decoration: none;

    outline: none;

}



a.logo span {

    color: #688a7e;

}



/*----*/

.page-header {

  margin: 12px 0 20px;

  border-bottom: none;

  opacity: 0.7;

  text-transform: uppercase;

}

.page-header i {

  color: #acb1b8;

  margin-right: 10px;

  float: left;

  font-size: 30px;

  line-height: 22px;

  opacity: 0.8;

}

.breadcrumb {

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  height: 34px;

  position: relative;

  margin: 0 0 19px 0;

  overflow: hidden;

}

.breadcrumb li {

  position: relative;

  margin-right: 0;

}

.breadcrumb li i {

  Font-size: 15px;

  margin-right: 5px;

}

.breadcrumb > .active {

  color: #d4d4d4;

}


/*INFOBOXES*/

.info-box {
  min-height: 140px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);

}

.info-box i {
  display: block;
  height: 90px;
  font-size: 60px;
  line-height: 100px;
  width: 90px;
  float: left;
  text-align: center;
  margin-right: 10px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.75);

}

@media (min-width: 992px) and (max-width: 1300px) {

    .info-box {
      min-height: 190px;
    }

    .info-box i {
          height: 70px;
          font-size: 40px;
          width: 70px;
    }

}

@media (max-width: 768px) {

    .info-box {
      min-height: 170px;
    }

    .info-box i {
          height: 70px;
          font-size: 40px;
          width: 70px;
    }

}



/*----------------	color------------------------*/

.dark-heading-bg {

  background: #4c4f53;
  border: 1px solid #4c4f53;

}

.main-bg {

  background: #e6e8ea;

}

.white-bg {

  color : #768399;

  background : #fff;

  background-color : #fff;

}

.red-bg {

  color : #fff;

  background : #d95043;

  background-color : #d95043;

}

.blue-bg {

  color : #fff;

  background : #57889c;

  background-color : #57889c;

}

.green-bg {

  color : #fff;

  background : #26c281;

  background-color : #26c281;

}

.greenLight-bg {

  color: #71843f;

  background: #71843f;

  background-color: #71843f;

}

.yellow-bg {

  color : #fff;

  background : #fc6;

  background-color : #fc6;

}

.orange-bg {

  color : #fff;

  background : #f4b162;

  background-color : #f4b162;

}

.purple-bg {

  color : #fff;

  background : #af91e1;

  background-color : #af91e1;

}

.pink-bg {

  color : #fff;

  background : #f78db8;

  background-color : #f78db8;

}

.lime-bg {

  color : #fff;

  background : #a8db43;

  background-color : #a8db43;

}

.teal-bg {

  color : #fff;

  background : #97d3c5;

  background-color : #97d3c5;

}

.brown-bg {

  color : #fff;

  background : #d1b993;

  background-color : #d1b993;

}

.gray-bg {

  color : #768399;

  background : #e4e9eb;

  background-color : #e4e9eb;

}

.dark-bg {

  color : #fff;

  background : #1a2732;

  background-color : #1a2732;

}


/*----------------------	panel-----------------*/

.panel {

  border:none;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  margin-bottom: 30px;

}

.panel .panel-heading {

  line-height: 34px;

  padding: 0 15px;

  min-height: 34px;

  border-left: 1px solid #ccc;

  border-right: 1px solid #ccc;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  position: relative;

  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

}

.panel .panel-heading .panel-title {

  line-height: 40px;

}

.panel .panel-heading i {

  width: 30px;

  display: inline-block;

  font-size: 14px;

  border-right:1px solid #e6e6e6 ;

}

.panel .panel-heading ul li {

  border-top:1px solid #e6e6e6 ;

  border-left:1px solid #e6e6e6 ;

  border-right:1px solid #e6e6e6 ;

}

.panel .panel-heading h2 {

  height: 100%;

  width: auto;

  display: inline-block;

  font-size: 14px;

  position: relative;

  margin: 0;

  line-height: 34px;

  font-weight: 400;

  letter-spacing: 0;

}

.panel .panel-heading .panel-actions {

  float: right;

  margin-right: -15px;

  height: 40px;

  font-size: 0;

}

.panel .panel-heading .panel-actions i {

  display: inline-block;

  text-align: center;

  width: 34px;

  -webkit-transition: all 0.1s ease-in-out;

  -moz-transition: all 0.1s ease-in-out;

  -ms-transition: all 0.1s ease-in-out;

  -o-transition: all 0.1s ease-in-out;

  transition: all 0.1s ease-in-out;

  text-decoration: none;

  font-size: 14px;

}

.panel .panel-heading .panel-actions a{

  text-decoration: none;

  font-size: 14px;

  text-align: center;

  display: inline-block;

  line-height: 32px;

  padding: 0;

  margin: 0;

  color: #333;

  border-left: 1px solid rgba(0,0,0,.09);

}

.panel-actions .btn-setting:hover,

.panel-actions .btn-minimize:hover,

.panel-actions .btn-close:hover {

  background-color: rgba(0,0,0,.05);

  cursor: pointer;

}

.panel .panel-heading .switch {

  margin: 10px;

}

.panel .panel-body {

  border-width: 1px 1px 2px;

  border-style: solid;

  border-top: none;

  border-right-color: #ccc!important;

  border-bottom-color: #ccc!important;

  border-left-color: #ccc!important;

}

.panel .panel-body-map {

  border-width: 1px 1px 2px;

  border-style: solid;

  background:#eef3f7;

  height:380px;

  border-top: none;

  border-right-color: #ccc!important;

  border-bottom-color: #ccc!important;

  border-left-color: #ccc!important;

}

.panel .panel-body.no-padding {

  padding: 0;

}

.panel .panel-body.padding-horizontal {

  padding: 0 15px;

}

.panel .panel-body.no-padding-bottom {

  padding-bottom: 0;

}

.panel {

  border-width: 0 1px 2px 1px;

  border-style: solid;

  border-top: none;

  border-right-color: #ccc!important;

  border-bottom-color: #ccc!important;

  border-left-color: #ccc!important;

  position: relative;

}

.panel.panel-default {

  border-radius: 0px;
  border-top: 1px solid #d4d4d4;

  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);



}

}


/*----*/



/*search*/



.search {

    margin-top: 6px ;

    width: 20px;

    -webkit-transition: all .3s ease;

    -moz-transition: all .3s ease;

    -ms-transition: all .3s ease;

    -o-transition: all .3s ease;

    transition: all .3s ease;

    border: 1px solid #fff;

    box-shadow: none;

}



/*--sidebar toggle---*/



.toggle-nav {

    float: left;

    padding-right: 15px;

    margin-top: 20px;

}



.toggle-nav .icon-reorder {

    cursor: pointer;

    display: inline-block;

    font-size: 20px;

}



.sidebar-closed > #sidebar > ul {

    display: none;

}



.sidebar-closed #main-content {

    margin-left: 0px;

}



.sidebar-closed #sidebar {

    margin-left: -180px;

}


.panel-heading,.modal-header{

    background: #F7F7F7;

    color: #688a7e;



}

.panel-heading h3{

    margin: 0px !important;

}




.panel-heading.tab-right .nav > li:first-child.active > a, .tab-right.panel-heading .nav > li:first-child > a:hover {

    border-radius:  0 ;

    -webkit-border-radius: 0 ;

}



.panel-heading.tab-right .nav > li:last-child.active > a, .tab-right.panel-heading .nav > li:last-child > a:hover {

    border-radius:  0 4px 0 0;

    -webkit-border-radius: 0 4px 0 0;

}



.panel-heading.tab-right .nav-tabs > li > a {

    margin-left: 1px;

    margin-right: 0px;

}



.m-bot20 {

    margin-bottom: 20px;

}



.m-bot-none {

    margin-bottom: 0;

}



.wht-color {

    color: #fff;

}



.close-sm {

    font-size: 14px;

}





/*form*/





.sm-input {

    width: 175px;

}



.form-horizontal .form-group {

    border-bottom: 1px solid #eff2f7;

    padding-bottom: 15px;

    margin-bottom: 15px;

}

/*date picker*/

.daterangepicker td.active, .daterangepicker td.active:hover,

.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover, .datepicker td.active[disabled], .datepicker td.active[disabled]:hover,

.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled]{

    background: #688a7e;

}



.daterangepicker .calendar th, .daterangepicker .calendar td {

    font-family: 'Lato', sans-serif;

    font-weight: 301;

    text-align: center;

    white-space: nowrap;

}



.daterangepicker td.active, .daterangepicker td.active:hover, .datepicker td.active, .datepicker td.active:hover, .datepicker td span.active {

    text-shadow: none;

}



.datepicker th.switch {

    width: 125px;

}



.datepicker td span {

    height: 40px;

    line-height: 40px;

}
